fec_prez_money_detail/Service References/FECFundingReference/FECFunding2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrezContributionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrezContributionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCandidateCommitteeContriDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CandidateCommitteeContriDataContract" nillable="true" type="tns:CandidateCommitteeContriDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCandidateCommitteeContriDataContract" nillable="true" type="tns:ArrayOfCandidateCommitteeContriDataContract" />
  <xs:complexType name="CandidateCommitteeContriDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMNDT_IND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAND_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMTE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENTITY_TP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OCCUPATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTHER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RPT_TP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_AMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_DT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_PGI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_TP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIP_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CandidateCommitteeContriDataContract" nillable="true" type="tns:CandidateCommitteeContriDataContract" />
</xs:schema>